/* admin.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

#user-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

#user-table th, #user-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#user-table th {
    background-color: #f2f2f2;
}

#user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#user-table tbody tr:hover {
    background-color: #ddd;
}
